.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  margin-bottom: 24px !important;
  text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link {
  color: magenta;
}

.image {
  max-width: 200px;
  margin: 20px 0;
}
